.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 14px;
}

.list-group-item {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0.6rem 0.6rem;
  color: white;
  text-decoration: none;
  background-color:black;
  border: 0;
}

.list-group-item-action {
  width: 80px;
  color: white;
  text-decoration: none;
  justify-content: center;
}

.list-group-item-action:hover{
  background-color: white;
  color: red;

}
  